/*RESET*/
/* .img {
    max-width: 100%;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
/************************************************
*************************************************
************************************************/

/*CUSTOM PROPERTIES*/
 :root {
    --header-bg:rgb(44 62 80);
    --hero-and-about-bg:rgb(26 188 156);
    --footer-top-bg:rgb(58 84 109);
 }

/************************************************
*************************************************
************************************************/
/*header*/
.ms_header {
    background-color:var(--header-bg) ;
    width: 100%;
    z-index: 99999;
    
}

.ms_icon-hamb {
    color: white;
    
}

/************************************************
*************************************************
************************************************/
.ms_hero {
    margin-top: 56px;
    background-color: var(--hero-and-about-bg);
}

.ms_cont-hero {
    
   width: 170px;
   /*debug*/
   height: 170px;
   
}

.ms_cont-hero-text {
    width: 70%;
    max-width:300px;
    text-align: center;
}

.ms_hr,
.ms_hr_w{
   width: 30%;
   max-width: 100px; 
    
}

.ms_hr_w {
    border: 2px solid white ; 
}

.ms_hr {
    border: 2px solid black;
}

/**************************************************/
/*Card Section*/

.ms_card_cont {
    width: 100%;
    
}
/**************************************************
**************************************************
**************************************************/

/*About Section*/
.ms_about_cont {
    background-color: var(--hero-and-about-bg);
}

/**************************************************
**************************************************
**************************************************/

/*Contact*/

.ms_input,
.ms_textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
}

.ms_btn_color {
    background-color: var(--hero-and-about-bg);
    
}

/**************************************************
**************************************************
**************************************************/

/*FOOTER*/
.ms_footer {
    background-color: var(--footer-top-bg);
}

.ms_li_icons {
    display: inline-block;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 50%;
}

.fa-brands {
    font-size: .8rem;
}

.ms_footer_link {
    color: var(--hero-and-about-bg);
}

.ms_copyright_cont {
    background-color: var(--header-bg);
}

/*Tablet and Desktop Hero text cont*/
@media screen and (min-width:768px) {
    .ms_cont-hero-text {
        max-width:600px ;
    }
}

.ms_about_cont_child,
.ms_contact_child {
    width: 70%;
}

.ms_copyright_cont{
    width: 100%;
}


