.img {
    max-width: 100%;
}

.ms_header {
    background-color:rgb(44 62 80) ;
    width: 100%;
    height: 50px;
}
.container-fluid {
    padding-top: 80px;
}
.ms_cont-hero {
   padding-top:100px; 
   width: 170px;
   /*debug*/
   height: 170px;
   
}
.ms_cont-hero-text {
    width: 70%;
    text-align: center;
}